.filter-price {
  @include media-w($md) {
    display: none;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $blue80;
  }

  &__to {
    padding-right: 5px;
  }
  
  .irs--flat .irs-min, 
  .irs--flat .irs-max {
    display: none;
  }
  
  .irs--flat .irs-from,
  .irs--flat .irs-to, 
  .irs--flat .irs-single {
    display: none;
  }

  .irs--flat .irs-handle > i:first-child {
    left: 2px;
  }

  .irs--flat .irs-line {
    top: 6px;
    height: 3px;
    background-color: $accent;
  }

  .irs--flat .irs-bar {
    top: 5px;
    height: 5px;
    background-color: $accent;
  }

  .irs--flat .irs-handle {
    top: 0;
  }
  .irs--flat .irs-handle.state_hover > i:first-child, 
  .irs--flat .irs-handle:hover > i:first-child {
    background-color: $accent;
    box-shadow: 0 0 6px 1px $accent;
  }
  
  .irs--flat .irs-handle > i:first-child {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: $accent;

    &::after {
      position: absolute;
      top: -15px;
      right: -15px;
      bottom: -15px;
      left: -15px;
      content: '';
    }
  }

  .irs--flat {
    height: 37px;
  }
}
