.blog-card {
  &__picture {
    position: relative;
    width: 100%;
    max-width: 830px;
    height: 500px;
    margin-bottom: 40px;

    @include media-w($md) {
      height: 400px;
      margin-bottom: 20px;
    }

    @include media-w($xs) {
      height: 250px;
    }
  }

  &__img {
    width: 100%;
    max-width: 830px;
    height: 500px;
    object-fit: cover;
    object-position: center;

    @include media-w($md) {
      height: 400px;
    }

    @include media-w($xs) {
      height: 250px;
    }
  }

  &__data {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 270px;
    padding: 28px 20px;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    background-color: $accent;

    @include media-w($xs) {
      padding: 10px;
    }
  }

  &__info {
    position: relative;
    display: inline-block;
    padding-left: 18px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      @extend %bg-pseudo;
      top: 0;
      left: 0;
      width: 12px;
      height: 14px;
    }

    &--date {
      &::before {
      background-image: url('../../images/icons/date-white.svg');
      }
    }

    &--author {
      &::before {
      background-image: url('../../images/icons/user-white.svg');
      }
    }
  }

  &__theme {
    @include l-clamp(2);
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 40;
    line-height: 1.3;
    color: $grey90;

    @include media-w($md) {
      margin-bottom: 15px;
      font-size: 30px;
    }

    @include media-w($md) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__text {
    @include l-clamp(5);
    margin-bottom: 35px;
    line-height: 1.9;
    color: $name;
  }

  &__link {
    padding: 20px 70px 20px 20px;
    color: $accent;
    border-radius: 0;

    svg {
      fill: $accent;
    }
  }
}