.blog {
  &__inner {
    display: flex;

    @include media-w($sm) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 830px;
    margin-right: 70px;

    @include media-w($sm) {
      margin-right: 0;
    }

    .pagination {
      justify-content: center;
    }
  }

  &__list {
    margin-bottom: 75px;
  }

  &__item:not(:last-child) {
    margin-bottom: 50px;
  }

  &__filters {
    @include media-w($sm) {
      order: -1;
      margin-right: 20px;
    }
  }
}

.blog-right {
  width: 270px;
}