.week-products {
  padding-top: 70px;

  @include media-w($md) {
    padding-top: 50px;
  }

  @include media-w($xs) {
    padding-top: 30px;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__filters {
    margin-bottom: 68px;

    @include media-w($md) {
      margin-bottom: 40px;
    }

    @include media-w($xs) {
      margin-bottom: 20px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    margin: 0 auto;
    margin-bottom: 60px;

    @include media-w($xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-w($md) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 50px;
    }

    @include media-w($sm) {
      grid-template-columns: 1fr;
      margin-bottom: 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__lamps {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-column-gap: 30px;

    @include media-w($md) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    @include media-w($sm) {
      grid-template-columns: 1fr;
    }
  }

  &__lamp {
    align-self: end;
    width: 100%;
    margin: 0 auto;
  }
}