.mission {
  padding: 120px 0;

  @include media-w($lg) {
    padding: 90px 0;
  }

  @include media-w($sm) {
    padding: 60px 0;
  }

  @include media-w($xs) {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    max-width: 570px;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include media-w($lg) {
      width: 50%;
    }

    @include media-w($sm) {
      display: none;
    }
  }

  &__content {
    max-width: 571px;
    padding-left: 20px;
    line-height: 1.9;
    color: $name;

    @include media-w($sm) {
      padding-left: 0;
    }
  }

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;

    @include media-w($md) {
      margin-bottom: 15px;
    }
  }

  &__num {
    margin-right: 20px;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    color: $accent;

    @include media-w($md) {
      font-size: 115px;
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: left;

    @include media-w($md) {
      margin-bottom: 15px;
    }
  }

  &__text {
    @include l-clamp(4);
    margin-bottom: 60px;

    @include media-w($md) {
      margin-bottom: 25px;
    }

    @include media-w($sm) {
      @include l-clamp(6);
    }
  }

  &__box {
    padding-top: 30px;
    border-top: 1px solid $grey20;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__box-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    padding: 5px 0 10px;
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #4c4c4c;

    @include l-clamp(2);

    @include media-w($xs) {
      width: 100%;
      margin-bottom: 15px;
    }

    &:not(:last-child) {
      border-right: 1px solid $grey20;

      @include media-w($xs) {
        border: none;
        border-bottom: 1px solid $grey20;
      }
    }
  }

  &__wrap {
    position: relative;
    max-width: 145px;
    padding-left: 55px;

    &::before {
      @extend %bg-pseudo;

      top: 5px;
      left: 0;
      width: 47px;
      height: 41px;

      @include media-w($md) {
        width: 25px;
        height: 25px;
      }
    }

    &--project::before {
      background-image: url('../images/icons/mission-icon-1.svg');
    }

    &--revenue::before {
      background-image: url('../images/icons/mission-icon-2.svg');
    }

    &--award::before {
      background-image: url('../images/icons/mission-icon-3.svg');
    }

    @include media-w($md) {
      padding-left: 35px;
    }
  }

  &__value {
    display: block;
    font-size: 36px;
    color: $name;

    @include media-w($md) {
      font-size: 26px;
    }
  }
}