.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(100%);
  border: 0;
  white-space: nowrap;
}

.container-fluid {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.anim-effect {
  display: block;
  transform: scale(1);
  transition: box-shadow 0.4s, border-color 0.4s, color 0.4s, background-color 0.3s;
  border-top: 2px solid transparent;
  outline: transparent;
  border-radius: 4px;
  &:focus {
    box-shadow: 0 4px 9px black;
  }
  &:hover {
    border-top: 2px solid $accent;
  }
  &:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

body {
  @extend %rubik-400;
}

.main-btn {
  padding: 23px 60px 23px 23px;
  @extend %rubik-500;
  min-width: 200px;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  border: none;
  text-align: left;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background-image: url('../images/icons/arrow-left-btn.png');
    width: 22px;
    height: 9px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 1;
}

.filters {
  display: flex;
  justify-content: center;
  @extend %dmsans-700;
  font-size: 16px;
  line-height: 1;
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__btn {
    background-color: transparent;
    border: none;
    color: #8b8b8b;
    border-top: 2px solid transparent;
  }
}