html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 144px;
  // overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: #fff;

  @include media-w($lg) {
    padding-top: 73px;
  }
}

.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.logo {
  position: relative;
  z-index: 20;
  outline: transparent;

  &__img {
    object-fit: contain;
    width: 139px;
    height: 39px;
    object-position: left center;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--fluid {
    max-width: 1800px;
  }
}

.round-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: transparent;
  transition: background-color 0.4s, box-shadow 0.4s;

  svg {
    width: 22px;
    height: 20px;
    transition: fill 0.4s;
  }

  &--small {
    width: 41px;
    height: 41px;
    background-color: $grey10;

    svg {
      width: 17px;
      height: 17px;
      fill: #888;
    }
  }

  &--google {
    svg {
      width: 23px;
    }
  }

  &--big {
    width: 51px;
    height: 51px;
  }

  &--action {
    width: 45px;
    height: 45px;
    background-color: #fff;
    box-shadow: 0 0 4px 1px $accent;

    svg {
      width: 22px;
      height: 20px;
      fill: $accent;
    }
  }

  &:focus {
    box-shadow: 0 0 8px 1px #000;
  }

  &:hover {
    background-color: $accent;

    svg {
      fill: #fff;
    }
  }

  &:active {
    box-shadow: inset 0 0 8px 1px #000;
  }
}

.main-btn {
  position: relative;
  padding: 23px 60px 23px 23px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: left;
  background-color: $accent;
  border: none;
  border-radius: 5px;
  outline: transparent;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.4s, border-color 0.4s;

  svg {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 22px;
    height: 9px;
    transition: fill 0.4s;
    transform: translateY(-50%);
  }

  &--trans {
    color: $text-grey;
    background-color: transparent;
    border: 1px solid #b3b7b5;

    svg {
      fill: $text-grey;
    }

    &:focus {
      box-shadow: 0 0 3px 1px #000;
    }

    &:hover {
      color: #fff;
      background-color: $accent;

      svg {
        fill: #fff;
      }
    }

    &:active {
      box-shadow: inset 0 0 10px 1px #000;
    }
  }

  &--fill {
    border: 1px solid transparent;

    svg {
      fill: #fff;
    }

    &:focus {
      box-shadow: 0 0 3px 1px #000;
    }

    &:hover {
      color: #687f88;
      background-color: transparent;
      border: 1px solid rgba($name, 0.4);

      svg {
        fill: $accent;
      }
    }

    &:active {
      box-shadow: inset 0 0 10px 1px #000;
    }
  }

  &--small {
    display: inline-block;
    padding: 15px 60px 15px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

    svg {
      right: 25px;
      width: 16px;
      height: 12px;
    }
  }
}

.title {
  font-family: 'DMsans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @include media-w($sm) {
    font-size: 28px;
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  font-family: 'DMsans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  @include media-w($xs) {
    display: block;
    height: 46px;
    overflow-y: hidden;
  }

  &--dropdown {
    height: 100%;
  }

  &__item {
    border: 1px solid $accent;
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @include media-w($xs) {
      margin: 0;
    }
  }

  &__btn {
    padding: 13px 5px;
    color: #8b8b8b;
    background-color: transparent;
    border: none;
    border-top: 2px solid transparent;

    @include media-w($xl) {
      width: 100%;
    }
  }
}

.anim-effect {
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;
  transition: box-shadow 0.4s, border-color 0.4s, color 0.4s;

  &:focus {
    box-shadow: 0 4px 9px black;
  }

  &:hover {
    border-top: 1px solid $accent;
    border-bottom: 1px solid $accent;
  }

  &:active {
    box-shadow: inset 0 0 9px -1px black;
  }
}

.anim-line {
  border-bottom: 1px solid transparent;
  border-radius: 2px;
  outline: transparent;
  transition: box-shadow 0.4s, border-color 0.4s, color 0.4s;

  &:focus {
    box-shadow: 0 4px 9px rgb(102, 102, 102);
  }

  &:hover {
    border-bottom: 1px solid $accent;
  }

  &:active {
    color: #000;
  }
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;

  &__item {
    padding: 10px 10px;
    font-family: 'DMsans', sans-serif;
    font-weight: 400;
    line-height: 1;
    background-color: rgba($bg-main, 0.2);
    border: none;
    outline: transparent;

    &--input {
      max-width: 170px;
      vertical-align: bottom;
      transition: box-shadow 1s, background-color 0.3s;

      &:focus {
        box-shadow: -3px 0 2px -1px $accent;
      }

      &:hover {
        box-shadow: inset 0 0 3px 1px $accent;
      }

      &:active {
        background-color: rgba($accent, 0.2);
      }

      &::placeholder {
        font-size: 12px;
        color: $name;
      }
    }

    &--btn {
      color: #fff;
      background-color: $accent;
      border: 2px solid transparent;
      transition: color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s;

      &:focus {
        box-shadow: 0 0 3px 1px #000;
      }

      &:hover {
        color: $accent;
        background-color: #fff;
        border: 2px solid $accent;
      }

      &:active {
        box-shadow: inset 0 0 10px 1px #000;
      }
    }
  }
}

.title-line {
  position: relative;
  display: inline-block;
  padding-right: 55px;
  font-family: "DMsans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: $name;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 39px;
    height: 3px;
    content: '';
    background-color: #a3bbc8;
    transform: translateY(-50%);
  }
}