$accent: #a3bbc8;

$bg-main: #fcd7b6;

$name: #243f4d;

$text-grey: #436372;

$dark-text: #222933;

%bg-pseudo {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin l-clamp($r) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $r;
}

$xl: 1440px;
$l: 1200px;
$m: 992px;
$s: 768px;
$xs: 480px;

@mixin media-w($w) {
  @media (max-width: $w) {@content};
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}