$accent: #a3bbc8;

$bg-main: #fcd7b6;

$name: #243f4d;

$text-grey: #436372;

$dark-text: #222933;

%bg-pseudo {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin l-clamp($r) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: $r;
}
