@import 'reset';
@import 'vars';
@import 'fonts';
@import 'global';

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 45px;
  }
  &__logo {
    margin-right: 154px;
  }
}

.menu {
  &__list {
    display: flex;
    padding-bottom: 12px;
  }
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__link {
    padding: 5px;
    @extend %rubik-500;
    color: #436372;
    font-size: 15px;
    line-height: 1;
  }
}

.user-nav {
  display: flex;
  &__btn {
    position: relative;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: $accent;
    outline: transparent;
    transition: background-color 0.4s, box-shadow 0.4s;
    &::before {
      @extend %bg-pseudo;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:focus {
      box-shadow: 0 0 8px 1px #000;
    }
    &:hover {
      background-color: #edf1f4;
    }
    &:active {
      box-shadow: inset 0 0 8px 1px #000;
    }
  }
  &__links {
    margin-right: 21px;
    padding: 0 10px;
    width: 178px;
    height: 51px;
    border-radius: 25px;
    background-color: $bg-main;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__link {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: transform 0.4s, border-color 0.4s;
    &::before {
      @extend %bg-pseudo;
      width: 19px;
      height: 17px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      
    }
    &:focus {
      transform: scale(1.2);
    }
    &:hover {
      border: 1px solid $accent;
    }
    &:active {
      transform: rotateZ(-20deg);
    }
  }
  &__link--liked::before {
    background-image: url(../images/icons/heart.svg);
  }
  &__link--basket::before {
    background-image: url(../images/icons/basket.svg);
  }
  &__num {
    color: #000;
    position: absolute;
    @extend %dmsans-400;
    font-size: 10px;
    line-height: 1.6;
    width: 16px;
    height: 16px;
    right: 5px;
    top: 5px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
  }
  &__line {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: -50%;
      width: 1px;
      height: 32px;
      background-color: rgba(#fff, 0.4);
    }
  }
}

.search-btn {
  margin-right: 21px;
  &::before {
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/search.svg);
  }
}

.menu-btn {
  &::before {
    width: 21px;
    height: 21px;
    background-image: url(../images/icons/menu-dots.svg);
  }
}


.h1-title {
  display: none;
}
// ------------- SHOP SLIDER-----------------//
  
.shop-slider {
  &__wrapper {
    background-color: $bg-main;
    position: relative;
    padding: 215px 15px 280px;
    &::before {
      position: absolute;
      content: '';
      z-index: 0;
      width: 634px;
      height: 634px;
      top: 50%;
      right: 185px;
      transform: translateY(-50%);
      border-radius: 50%;
      background-image: linear-gradient( 90deg, transparent 0%, rgb(255,255,255) 100%);
    }
  }
  &__item {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }
  &__content {
    max-width: 415px;
  }
  &__title {
    @extend %rubik-500;
    color: $name;
    margin-bottom: 25px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
  }
  &__text {
    @extend %rubik-400;
    color: #436372;
    margin-bottom: 35px;
    max-width: 385px;
    font-size: 18px;
    line-height: 1.7;
  }
  &__btn {
    background-color: $accent;
    transition: background-color 0.4s, box-shadow 0.4s;
    &:focus {
      box-shadow: 0 0 3px 1px #000;
    }
    &:hover {
      background-color: $name;
    }
    &:active {
      box-shadow: inset 0 0 10px 1px #000;;
    }
  }
  &__img {
    align-self: flex-end;
    max-width: 641px;
    height: 300px;
    object-fit: contain;
    object-position: bottom center;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 45px;
  .slick-active {
    background-color: #fff;
    border-radius: 50%;
  }
  button {
    @extend %rubik-500;
    font-size: 11px;
    padding: 0;
    line-height: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(#fff, 0.3);
    border: none;
    &:focus {
      box-shadow: 0 0 3px 1px $name;
    }
    &:hover {
      background-color: $name;
      color: #fff
    }
    &:active {
      box-shadow: inset 0 0 2px 1px #fff;
    }
  }
  li:not(:last-child) {
    margin-right: 12px;
  }
}

// ---------------- BENEFITS ---------------//

.benefits {
  &__items {
    display: flex;
    align-items: center;
    background-color: rgba($bg-main, 0.3);    
  }
  &__item {
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    &:not(:last-child) {
      border-right: 1px solid rgba(36, 63, 77, 0.1);
    }
  }
  &__inner {
    padding: 36px 0 39px 74px;
    position: relative;
    width: 304px;
    &::before {
      @extend %bg-pseudo;
      width: 55px;
      height: 50px;
      left: 0;
      top: 11px;
      background-position: left top;
    }
  }
  &__inner--support::before {
    background-image: url('../images/icons/support.png');
  }
  
  &__inner--delivery::before {
    background-image: url('../images/icons/delivery.png');
  }
  &__inner--payment::before {
    background-image: url('../images/icons/payment.png');
  }
  
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.2;
    color: 414141;
  }
  &__text {
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 1.9;
    color: #585858;
  }
}

// ---------------- WEEK PRODUCTS ---------------//

.week-products {
  padding: 70px 0 40px;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__filters {
    margin-bottom: 80px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 270px;
    height: 380px;
    padding: 30px 17px;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 2;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    }
  }
  &__img {
    height: 200px;
    margin-bottom: 70px;
    object-fit: contain;
    object-position: bottom;
  }
  &__name {
    @extend %dmsans-500;
    color: $name;
  }
  &__price {
    @extend %dmsans-700;
    color: a3bbc8;
  }
  &__actions {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.4s;
  }
  &__action:not(:last-child) {
    margin-right: 15px;
  }
  &__link {
    display: block;
    text-align: center;
  }
  &__btn,
  &__link {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.15);
    border: none;
    padding-top: 8px;
    position: relative;
    outline: transparent;
    transition: background-color 0.4s, box-shadow 0.4s;
  }
  &__btn:focus,
  &__link:focus {
    box-shadow: 0 3px 15px 3px rgba(37, 37, 37, 0.3);
  }
  &__btn:hover,
  &__link:hover {
    background-color: $accent;
    path {
      fill: #fff;
    }
  }
  &__btn:active,
  &__link:active {
    box-shadow: inset 0 3px 15px 3px rgba(37, 37, 37, 0.3);
  }
  &__item:hover {
    .week-products__actions {
      opacity: 1;
    }
  }
}

@import 'media';