.filters-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding-bottom: 20px;
  color: $blue80;
  border-bottom: 1px solid $accent;

  @include media-w($xs) {
    display: block;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;

    @include media-w($xs) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    width: 44px;
    height: 44px;

    svg {
      width: 15px;
      height: 15px;
      fill: $accent;
    }

    &--wide {
      svg {
        width: 20px;
      }
    }

    &--active {
      svg {
        fill: $bg-main;
      }
    }
  }

  &__select {
    background-color: #fff;
    outline: transparent;

    &--sort {
      margin-right: 10px;

      .jq-selectbox__select {
        width: 135px;
      }
    }

    &--show {
      .jq-selectbox__select {
        width: 85px;
      }
    }
  }

  .jq-selectbox {
    &__select {
      width: 120px;
      height: 44px;
      padding: 5px 17px 0 5px;
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      font-weight: 400;
      background-color: $accent;
      border: none;
      border-radius: 22px;
    }

    &__select-text {
      width: 100% !important;
    }

    li {
      min-height: 44px;
      padding-top: 12px;
      border-radius: 25px;
    }

    &__trigger {
      position: absolute;
      top: 40%;
      right: 10px;
      width: 9px;
      height: 5px;
      background-image: url('../images/icons/arrow-down.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border: none;
    }

    &__trigger-arrow {
      display: none;
    }

    &__dropdown {
      border-radius: 25px;
    }

    ul {
      margin: 0 -1px;
      background-color: #fff;
      border: 1px solid $accent;
      border-radius: 22px;
    }
  }
}
