.page-top {
  padding: 25px 0 28px;
  font-size: 36px;
  color: $black90;
  text-align: center;
  background-color: $accent20;

  @include media-w($sm) {
    padding: 15px 0 15px;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 300;

    @include media-w($sm) {
      font-size: 32px;
    }

    @include media-w($xs) {
      font-size: 24px;
    }
  }
}