.pagination {
  display: flex;
  justify-content: center;
  line-height: 1.9;
  color: $blue80;

  &--left {
    justify-content: flex-start;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--disabled {
      display: none;
      margin-right: -15px;
    }
  }

  &__link {
    display: inline-block;
    min-width: 50px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $accent;
    transition: box-shadow 0.4s, color 0.4s, background-color 0.4s;

    @include media-w($xs) {
      min-width: 44px;
      padding: 6px 8px;
    }

    &--active {
      color: #fff;
      background-color: $accent;
    }

    &:focus {
      box-shadow: 0 0 5px 1px $accent;
    }

    &:hover {
      color: #fff;
      background-color: $accent;
    }

    &:active {
      box-shadow: inset 0 0 5px 1px #000;
    }
  }
}