.burger {
  display: none;
  z-index: 20;
  transition: transform 0.7s;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.4s;
  }

  &::before {
    transform: rotate(55deg);
  }

  &::after {
    transform: rotate(-55deg);
  }

  @include media-w($md) {
    display: flex;
  }

  svg {
    transition: opacity 0.1s 0.2s;
    width: 32px;
    height: 32px;
  }

  &--active {

    svg {
      transition: opacity 0.1s;
      opacity: 0;
    }
    
    &::before,
    &::after {
      transition: opacity 0s 0.2s;
      opacity: 1;
  }
  }
}