.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 48px 0 45px;
  background-color: transparent;
  border-bottom: 2px solid transparent;

  @include media-w($lg) {
    padding: 10px 0;
  }

  &--bg {
    padding: 10px 0;
    background-color: rgba(#ccc, 0.8);
  }

  &--display {
    visibility: hidden;
    opacity: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 15px;
    font-weight: 500;
  }

  &__logo {
    z-index: 9;
    margin-right: 155px;

    @include media-w($lg) {
      margin-right: 0;
    }
  }
}

.menu {
  z-index: 5;
  display: flex;
  transition: top 0.7s;

  @include media-w($md) {
    position: fixed;
    top: -200%;
    right: 0;
    left: 0;
    z-index: 8;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-top: 134px;
    overflow-y: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.6s, height 0.6s;
  }

  &--active {
    top: 0;
  }

  &__item:not(:last-child) {
    margin-right: 24px;

    @include media-w($lg) {
      margin-right: 10px;
    }

    @include media-w($md) {
      margin: 0;
    }
  }

  &__link {
    padding: 13px 5px;
    font-size: 15px;
    line-height: 1;
    color: $text-grey;

    @include media-w($lg) {
      padding: 15px 0;
      font-size: 16px;
    }

    @include media-w($md) {
      display: block;
      border-bottom: 1px solid $accent;
    }
  }
}

.user-nav {
  display: flex;

  @include media-w($sm) {
    position: fixed;
    top: 73px;
    left: 200%;
    z-index: 9;
    padding: 5px 5px;
    background-color: rgba(#ccc, 0.8);
    border-radius: 0 0 5px 5px;
    transition: left 0.3s;
  }

  @include media-w($xs) {
    justify-content: space-between;
  }

  &--active {
    right: 0;
    left: 0;
    transition: left 0.5s;
  }

  &__search-btn {
    margin-right: 20px;

    @include media-w($xs) {
      margin-right: 10px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__btn {
    svg {
      width: 21px;
      height: 21px;
    }
  }

  &__links {
    display: flex;
    width: 178px;
    height: 51px;
    margin-right: 20px;
    background-color: $bg-main;
    border-radius: 25px;

    @include media-w($xs) {
      width: 123px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    outline: transparent;
    transition: transform 0.4s, box-shadow 0.4s, background-color 0.4s;

    &:focus {
      box-shadow: inset 0 0 6px 1px $accent;
    }

    &:hover {
      background-color: rgba($accent, 0.4);
    }

    &:active {
      transform: scale(0.8);
    }

    svg {
      width: 19px;
      height: 17px;
      transform: translateY(5px);
    }

    &--liked {
      border-radius: 25px 0 0 25px;
    }

    &--basket {
      border-radius: 0 25px 25px 0;
    }
  }

  &__line {
    position: relative;

    &::before {
      position: absolute;
      top: 10px;
      width: 1px;
      height: 32px;
      content: '';
      background-color: rgba(#fff, 0.4);
    }
  }

  &__num {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 16px;
    height: 16px;
    font-family: 'DMsans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }
}

.tools-btn {
  position: fixed;
  top: 10px;
  right: 86px;
  z-index: 9;
  display: none;

  svg {
    transition: transform 0.4s;
    transform: rotate(180deg);
  }

  &--active {
    svg {
      transform: rotate(360deg);
    }
  }

  @include media-w($sm) {
    display: flex;
  }
}

.burger {
  position: relative;
  z-index: 20;
  display: none;
  transition: transform 0.7s;

  &::before,
  &::after {
    position: absolute;
    width: 35px;
    height: 2px;
    content: '';
    background-color: #000;
    opacity: 0;
    transition: opacity 0.4s;
  }

  &::before {
    transform: rotate(55deg);
  }

  &::after {
    transform: rotate(-55deg);
  }

  @include media-w($md) {
    display: flex;
  }

  svg {
    width: 32px;
    height: 32px;
    transition: opacity 0.2s 0.2s;
  }

  &--active {
    svg {
      opacity: 0;
      transition: opacity 0.2s;
    }

    &::before,
    &::after {
      opacity: 1;
      transition: opacity 0.1s;
    }
  }
}