.slider-partners {
  padding: 78px 0 85px;
  background-color: rgba($bg-main, 0.4);

  &__item {
    margin: 0 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 87px;
  }

  &__img {
    max-height: 87px;
    margin: auto;
    object-fit: contain;
    object-position: center center;
  }
}