.slider-partners {
  background-color: rgba($bg-main, 0.4);

  &__items {
    width: 100%;
    max-width: 1200px;
    padding: 78px 15px 85px;
  }

  &__wrapper {
    height: 87px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__img {
    max-width: 175px;
    object-fit: contain;
  }
}