.slider-partners {
  padding: 78px 0 85px;
  background-color: rgba($bg-main, 0.4);

  @include media-w($lg) {
    padding: 50px 0;
  }

  @include media-w($xs) {
    padding: 25px 0;
  }

  &__item {
    margin: 0 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 87px;
  }

  &__img {
    max-height: 87px;
    margin: auto;
    object-fit: contain;
    object-position: center center;
  }
}