.tools-btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 81px;
  z-index: 100;

  
  svg {
    transition: transform 0.4s;
    transform: rotate(180deg);
  }
  
  &--active {

    svg {
      transform: rotate(360deg);
    }
  }

  @include media-w(600px) {
    display: flex;
  }
}