.blog-post {
  &__picture {
    position: relative;
    width: 100%;
    max-width: 830px;
    height: 500px;
    margin-bottom: 30px;

    @include media-w($md) {
      height: 400px;
      margin-bottom: 20px;
    }

    @include media-w($xs) {
      height: 250px;
    }
  }

  &__img {
    width: 100%;
    max-width: 830px;
    height: 500px;
    object-fit: cover;
    object-position: center;

    @include media-w($md) {
      height: 400px;
    }

    @include media-w($xs) {
      height: 250px;
    }
  }

  &__data {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 270px;
    padding: 28px 20px;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    background-color: $accent;

    @include media-w($xs) {
      padding: 10px;
    }
  }

  &__info {
    position: relative;
    display: inline-block;
    padding-left: 18px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &::before {
      @extend %bg-pseudo;
      top: 0;
      left: 0;
      width: 12px;
      height: 14px;
    }

    &--date {
      &::before {
      background-image: url('../../images/icons/date-white.svg');
      }
    }

    &--author {
      &::before {
      background-image: url('../../images/icons/user-white.svg');
      }
    }
  }

  &__box:not(:last-child) {
    margin-bottom: 60px;

    @include media-w($sm) {
      margin-bottom: 40px;
    }

    @include media-w($xs) {
      margin-bottom: 20px;
    }
  }
}

.post-describe {
  line-height: 1.9;
  color: $name;

  h3 {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.3;
    color: $grey90;

    @include media-w($sm) {
      font-size: 30px;
    }

    @include media-w($sm) {
      margin-bottom: 5px;
      font-size: 24px;
    }
  }

  h4 {
    margin-bottom: 10px;
    font-weight: 500;

    @include media-w($sm) {
      margin-bottom: 5px;
    }
  }

  p {
    margin-bottom: 35px;

    @include media-w($xs) {
      margin-bottom: 15px;
    }
  }

  blockquote {
    padding: 20px 100px 15px 35px;
    margin-bottom: 45px;
    background-color: rgba($accent, 0.4);
    border-left: 7px solid $accent;

    @include media-w($xs) {
      padding: 15px 40px 15px 25px;
      margin-bottom: 15px;
    }

    cite {
      position: relative;
      display: block;
      padding: 10px 0 0 43px;
      font-style: normal;

      &::before {
        position: absolute;
        top: calc(50% + 5px);
        left: 0;
        width: 20px;
        height: 4px;
        content: '';
        background-color: $accent;
        transform: translateY(-50%);
      }
    }
  }

  figure {
    height: auto;
    min-height: 210px;
    margin-bottom: 40px;

    @include media-w($xs) {
      margin-bottom: 15px;
    }

    img {
      float: left;
      max-width: 320px;
      height: 210px;
      object-fit: cover;
      object-position: center;
      margin-right: 30px;

      @include media-w($xs) {
        max-width: 300px;
        height: 150px;
      }
    }

    figcaption {
      padding-top: 21px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.post-author {
  display: flex;
  padding: 25px 30px 25px 0;
  border-top: 1px solid $white10;
  border-bottom: 1px solid $white10;

  @include media-w($xs) {
    padding: 15px 0 15px;
  }

  &__img {
    width: 76px;
    height: 76px;
    margin-right: 27px;
    object-fit: cover;
    object-position: top;

    @include media-w($xs) {
      margin-right: 15px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include media-w($xs) {
      display: block;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      @include media-w($xs) {
        margin-bottom: 5px;
      }
    }
  }

  &__info {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    color: $grey90;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--grey {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $grey70;
      letter-spacing: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    line-height: 1.9;

    @include media-w($xs) {
      display: block;
    }

    &:first-child {
      @include media-w($md) {
        margin-bottom: 20px;
      }

      @include media-w($xs) {
        margin-bottom: 0;
      }
    }
  }

  &__data {
    margin-right: 15px;
    color: $grey90;

    @include media-w($xs) {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  &__tag-list {
    display: flex;
    padding-left: 10px;
    color: $white40;

    @include media-w($xs) {
      padding-left: 0;
    }
  }

  &__tag-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 5px;

      &::after {
        position: absolute;
        content: ',';
      }
    }
  }

  &__tag-link {
    outline: transparent;


    @include media-w($md) {
      padding: 14px;
      border-radius: 5px;
    }
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 15px;

      @include media-w($md) {
        margin-right: 30px;
      }
    }
  }

  &__social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;

    @include media-w($md) {
      &::before {
        position: absolute;
        top: -13px;
        right: -14px;
        bottom: -13px;
        left: -14px;
        content: '';
        border-radius: 50%;
        transition: box-shadow 1s;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      fill: $white30;
      object-fit: contain;
    }

    &:focus {
      &::before {
        box-shadow: 0 0 5px 2px $accent;
      }
    }

    &:hover {
      svg {
        fill: $name;
      }
    }

    &:active {
      &::before {
        box-shadow: inset 0 0 5px 2px $accent;
      }
    }
  }
}

.post-comment {
  max-width: 830px;

  &__title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.5;
    color: $blue70;
  }

  &__item {
    position: relative;
    display: flex;
    padding-bottom: 15px;
    color: $blue70;

    @include media-w($xs) {
      display: block;
      padding-bottom: 5px;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: $white10;
    }

    &:nth-child(even) {
      padding-left: 130px;

      @include media-w($md) {
        padding-left: 40px;
      }

      &::after {
        left: 130px;

        @include media-w($md) {
          left: 40px;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;

    @include media-w($md) {
      margin-right: 10px;
    }

    @include media-w($xs) {
      margin-bottom: 10px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.5;

    @include media-w($md) {
      margin-bottom: 10px;
    }
  }

  &__author {
    position: relative;
    font-weight: 700;
    border-radius: 5px;

    &::before {
      position: absolute;
      top: -10px;
      right: 0;
      bottom: -10px;
      left: 0;
      content: '';
    }
  }

  &__date {
    font-size: 14px;
    color: $grey45;
  }

  &__text {
    margin-bottom: 5px;
    line-height: 1.9;
  }

  &__btn {
    padding: 15px 20px 15px 0;
    font-size: 14px;
    color: $blue70;
    border: none;

    svg {
      right: 0;
      width: 13px;
      height: 13px;
      fill: $blue70;
      transform: translateY(-50%);
    }
  }
}