<ul class="side-bar">
  <li class="side-bar__item">
    @@include('../forms/_search-form.html')
  </li>
  <li class="side-bar__item">
    <h3 class="side-bar__title">Category</h3>
    <button class="side-bar__btn" type="button">
      <span class="sr-only">Open brand list</span>
    </button>
    @@include('../filters/_main-filter.html',{
      "type": "main-filter--right-arrow"
    })
  </li>
  <li class="side-bar__item">
    <h3 class="side-bar__title">Recent posts</h3>
    <button class="side-bar__btn" type="button">
      <span class="sr-only">Open brand list</span>
    </button>
    @@include('../blog/_recent-posts.html')
  </li>
</ul>