<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__box">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="logo">
        </a>

        <address class="footer__address">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link anim-line" href="#">
                <span class="footer__name">address:</span>
                4772 Wines Lane Houston, TX 77032
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link anim-line" href="tel:+8323475843">
                <span class="footer__name">telephone:</span> +832-347-5843
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link anim-line" href="mailto:contact@Glee.com">
                <span class="footer__name">email:</span> contact@Glee.com
              </a>
            </li>
          </ul>
        </address>
      </div>

      <div class="footer__box">
        <span class="footer__title">
          services
        </span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              About us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Return Policy
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Our Blog
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Contact Us
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Terms & Condition
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__box">
        <span class="footer__title">
          account
        </span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link footeline" href="#">
              Your Account
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Checkout
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Login
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link anim-line" href="#">
              Register
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__box footer__box--ssize">
        <span class="footer__title">
          newsletter
        </span>
        <div class="footer__text">
          <p>
            Subscribe by our newsletter and get
            update protidin.
          </p>
        </div>
        <form class="footer__form subscribe-form" action="#">
          <label class="subscribe-form__label">
            <span class="sr-only">type your email address</span>
            <input class="subscribe-form__item subscribe-form__item--input" type="email" name="email" placeholder="Email address" required>
          </label>
          <button class="subscribe-form__item subscribe-form__item--btn" type="submit">
            Subscribe
          </button>
        </form>
      </div>

    </div>

    <div class="footer__bottom">
      <div class="footer__copy">
        <p>
          ©2020 CopyRight Example. All rights reserved.
        </p>
      </div>
      <nav class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link anim-line" href="#">Home</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link anim-line" href="#">About</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link anim-line" href="#">Blog</a>
          </li>
          <li class="footer__menu-item">
            <a class="footer__menu-link anim-line" href="#">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>