<header class="header">
  <div class="container container--fluid">

    <nav class="header__menu">
      <a class="logo header__logo" href="#">
        <img class="logo__img" src="images/logo.png" alt="logo">
      </a>

      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">Home +</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">About</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">Services</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">Pages +</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">News</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link anim-effect">Contact</a>
        </li>
      </ul>

      <div class="user-nav">

        <button class="tools-btn round-btn round-btn--big">
          <svg>
            <use xlink:href="images/sprites/sprite.svg#arrow-right-link"></use>
          </svg>
          <span class="sr-only">open tools menu</span>
        </button>

        <button class="user-nav__search-btn round-btn round-btn--big " type="button">
          <svg>
            <use xlink:href="images/sprites/sprite.svg#search"></use>
          </svg>
          <span class="sr-only">enter a search term</span>
        </button>

        <div class="user-nav__links">
          <a class="user-nav__link user-nav__link--liked" href="#">
            <svg>
              <use xlink:href="images/sprites/sprite.svg#heart"></use>
            </svg>
            <span class="sr-only">move to chosen</span>
            <span class="user-nav__num">0</span>
          </a>
          <span class="user-nav__line"></span>
          <a class="user-nav__link user-nav__link--basket" href="#">
            <svg>
              <use xlink:href="images/sprites/sprite.svg#basket"></use>
            </svg>
            <span class="sr-only">move to basket</span>
            <span class="user-nav__num">0</span>
          </a>
        </div>

        <button class="user-nav__btn round-btn round-btn--big" type="button">
          <svg>
            <use xlink:href="images/sprites/sprite.svg#menu-dots"></use>
          </svg>
          <span class="sr-only">open user menu</span>
        </button>

      </div>

      <button class="burger round-btn round-btn--big " type="button">
        <svg>
          <use xlink:href="images/sprites/sprite.svg#burger2"></use>
        </svg>
        <span class="sr-only">open main menu</span>
      </button>

    </nav>
  </div>
</header>