
  <ul class="pagination">
    <li class="pagination__item pagination__item--disabled">
      <a class="pagination__link" href="#">
        <span class="sr-only">Move to prevoius page</span>
        Prev
      </a>
    </li>
    <li class="pagination__item" href="#">
      <a class="pagination__link pagination__link--active">
        <span class="sr-only">first page</span>
        1
      </a>
    </li>
    <li class="pagination__item" href="#">
      <a class="pagination__link">
        <span class="sr-only">second page</span>
        2
      </a>
    </li>
    <li class="pagination__item" href="#">
      <a class="pagination__link">
        <span class="sr-only">third page</span>
        3
      </a>
    </li>
    <li class="pagination__item" href="#">
      <a class="pagination__link">
        <span class="sr-only">Move to next page</span>
        Next
      </a>
    </li>
  </ul>
