<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item">
      <button class="pagination__btn pagination__btn--disabled" type="button">
        <span class="sr-only">Move to prevoius page</span>
        Prev
      </button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn pagination__btn--active" type="button">
        <span class="sr-only">first page</span>
        1
      </button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">
        <span class="sr-only">second page</span>
        2
      </button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">
        <span class="sr-only">third page</span>
        3
      </button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn" type="button">
        <span class="sr-only">Move to next page</span>
        Next
      </button>
    </li>
  </ul>
</div>