<div class="slider-partners">
  <div class="container">
    <ul class="slider-partners__items">

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-5.png" alt="partner name">
        </div>
      </li>

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-1.png" alt="partner name">
        </div>
      </li>

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-2.png" alt="partner name">
        </div>
      </li>

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-3.png" alt="partner name">
        </div>
      </li>

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-4.png" alt="partner name">
        </div>
      </li>

      <li class="slider-partners__item">
        <div class="slider-partners__wrapper">
          <img class="slider-partners__img" src="images/slider-partners/image-2.png" alt="partner name">
        </div>
      </li>

    </ul>
  </div>
</div>