<div class="slider-partners">
  <div class="container">
    <ul class="slider-partners__items">
      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-1.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-2.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-3.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-4.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-5.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-2.png" alt="partner name">
        </li>
      </div>

      <div class="slider-partners__wrapper">
        <li class="slider-partners__item">
          <img class="slider-partners__img" src="images/slider-partners/image-1.png" alt="partner name">
        </li>
      </div>
    </ul>
  </div>