.comment {
  display: flex;
  color: $blue70;

  @include media-w($xs) {
    display: block;
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center;

    @include media-w($md) {
      margin-right: 10px;
    }

    @include media-w($xs) {
      margin-bottom: 10px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 1.5;

    @include media-w($md) {
      margin-bottom: 10px;
    }
  }

  &__author {
    position: relative;
    font-weight: 700;
    border-radius: 5px;

    &::before {
      position: absolute;
      top: -10px;
      right: 0;
      bottom: -10px;
      left: 0;
      content: '';
    }
  }

  &__date {
    font-size: 14px;
    color: $grey45;

    @include media-w($md) {
      font-size: 16px;
    }
  }

  &__text {
    margin-bottom: 5px;
    line-height: 1.9;
  }

  &__btn {
    padding: 15px 20px 15px 0;
    font-size: 14px;
    color: $blue70;
    border: none;

    @include media-w($md) {
      font-size: 16px;
    }

    svg {
      right: 0;
      width: 13px;
      height: 13px;
      fill: $blue70;
      transform: translateY(-50%);
    }
  }

  &--answear {
    .comment {
      &__info {
        @include media-w($xs) {
          flex-direction: row-reverse;
        }
      }

      &__img {
        margin-left: auto;
      }

      &__author {
        @include media-w($xs) {
          order: 0;
        }
      }
    }
  }
}