.team {
  padding-top: 120px;

  @include media-w($lg) {
    padding: 90px 0;
  }

  @include media-w($sm) {
    padding: 60px 0;
  }

  @include media-w($xs) {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-w ($md) {
      display: block;
    }
  }

  &__content {
    max-width: 310px;
    margin-right: 90px;
    color: $blue80;

    @include media-w ($md) {
      max-width: 600px;
      margin-bottom: 30px;
    }

    @include media-w ($sm) {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 23px;
    text-align: left;
  }

  &__text {
    margin-bottom: 36px;
    line-height: 1.9;

    @include l-clamp(12);
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
    max-width: 770px;
    margin: 0 auto 60px;

    @include media-w ($sm) {
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      @include media-w ($sm) {
        margin-bottom: 70px;
      }
    }
  }
}