.benefits {
  font-family: 'DMsans', sans-serif;

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgba($bg-main, 0.3);
  }

  &__item {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    width: 33.3%;

    @include media-w($md) {
      width: 320px;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba($blue80, 0.1);

      @include media-w($md) {
        border: none;
        border-bottom: 1px solid #000;
      }
    }
  }

  &__inner {
    position: relative;
    width: 304px;
    padding: 36px 0 39px 74px;

    @include media-w($xs) {
      width: 260px;
      padding: 15px 0 15px 60px;
    }

    &::before {
      @extend %bg-pseudo;

      top: 47px;
      left: 0;
      width: 55px;
      height: 50px;
      background-position: left top;
    }

    &--support::before {
      background-image: url('../images/icons/support.png');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.png');
    }

    &--payment::before {
      background-image: url('../images/icons/payment.png');
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;
    color: $black80;

    @include l-clamp(2);
  }

  &__text {
    font-size: 16px;
    line-height: 1.9;
    color: $black85;

    @include l-clamp(3);
  }
}
